.container {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  max-width: 450px;
}

.heading {
  margin: 2rem auto;
}

form {
  margin: 2rem auto;
  width: 350px;
}

button {
  width: 40%;
}

.account {
  color: grey;
  font-style: italic;
}
